div.dashboard {
    background-color: lime;
    color: blue;
    min-height: 500px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}

div.dashboard h1 {
    color: slateblue;
}

div.dashboard a {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 5px;

    font-family: 'Pacifico', cursive;
    margin-left: 20px;
    border: 5px solid red;
    padding: 0px 20px;
    color:lime;
}

div.dashboard table 
{
    width: 100%;
    margin-bottom: 30px;
    border: 5px dashed red;
}
div.dashboard table th
{
    border: 3px solid blue;
    color: black;
    font-size: .5em;
    background-color: khaki;
}
div.dashboard table td
{
    border: 10px dotted fuchsia;
    text-align: center;
    color:orange;
    font-weight: bolder;
    font-size: 1.2em;
}